<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Too good to go - UX analysis</title>

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Customers feedback viz</h3>

      </div>

      <div class="jumbotron">
        <h1>Estimated rating on customers feedback: {{predicted_rating}}</h1>
        <span style="font-size:300%;color:yellow;">&starf;</span>
      </div>

	  <br>

      <div class="jumbotron">
        <h1>Estimated rating on customers feedback: {{predicted_rating}}</h1>
        <span style="font-size:300%;color:yellow;">&starf;</span>
      </div>

    <br>

      <div class="jumbotron">
        <h1>Estimated rating on customers feedback: {{predicted_rating}}</h1>
        <span style="font-size:300%;color:yellow;">&starf;</span>
      </div>

    <br>

	  <div class="text-center">
	  	<a href="/" class="btn btn-primary">Back</a>
	  </div>


    </div> <!-- /container -->
  </body>
</html>
